.navigation {
  &-checkbox {
    display: none;
  }
  
  &-button {
    background-color: $color-white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    right: 4rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .2);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }
  
  &-background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 4.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transition: transform .7s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-land) {
      transition: transform .7s ease-in-out;
    }

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &-nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    @include respond(tab-land) {
      // transition: width .1s, opacity .5s .3s;
    }
  }
  
  &-list {
    @include absCenter;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &-item {
    margin: 1rem;
  }

  &-link {
    &:link,
    &:visited {
      display: inline-block;
      color: $color-white;
      font-size: 3rem;
      padding: 1rem 2rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 240%;
      transition: all .4s;
    }

    &:hover, 
    &:active {
      color: $color-primary;
      background-position: 100%;
      transform: translateX(1rem);
    }

    span {
      margin-right: 2rem;
      display: inline-block;
    }
  }

  // TRANSITIONS
  &-checkbox:checked ~ &-background {
    transform: scale(80);
  }

  &-checkbox:checked ~ &-nav {
    opacity: 1;
    width: 100%;
  }

  // ICON
  &-icon {
  position: relative;
  top: 2.9rem;
  left: 1.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-2;
      display: block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -0.8rem; }
    &::after { top: 0.8rem; }
  }

  &-button:hover &-icon::before {
    top: -1rem;
  }

   &-button:hover &-icon::after {
    top: 1rem;
  }

  &-checkbox:checked + &-button &-icon {
    background-color: transparent;
  }

  &-checkbox:checked + &-button &-icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &-checkbox:checked + &-button &-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}