.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  
  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 0.6rem 1.2rem rgba($color-black, 0.2);
  }

  &-white {
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &-green {
    background-color: $color-primary;
    color: $color-white;
  }
  
  &-animated {
    animation: moveInBottom .5s ease-out .5s;
  
    /* first @keyframes rule is applied before animation starts*/
    animation-fill-mode: backwards;
  }
  
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    text-decoration: none;
    display: inline-block;
    padding: 0.3rem;
    border-bottom: 0.1rem solid $color-primary;
    font-size: $default-font-size;
    font-weight: 700;
    transition: color .1s .1s, background-position .3s ease-out, border-bottom .25s;

    background: linear-gradient(to bottom, transparent 50%, rgba($color-primary, 0.9) 50%) top;
    background-size: 200% 200%;
  }
  &:hover {
    background-position: bottom;
    color: $color-white;
    box-shadow: 0 1rem 1.5rem rgba($color-black, 0.15);
    border-bottom: none;
  }
  
  &:active {
    box-shadow: 0 .5rem .6rem rgba($color-black, 0.15);
    transform: translateY(0.1rem);
  }
}

// /* button hover animation */

// .btn::after {
//   content: "";
//   display: inline-block;
//   height: 100%;
//   width: 100%;
//   border-radius: 10rem;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   transition: all .4s;
// }

// .btn-white::after {
//   background-color: $color-white;
// }

// .btn:hover::after {
//   transform: scaleX(1.4) scaleY(1.6);
//   opacity: 0;
// } 

// /* end button hover animation*/