.composition {
  position: relative;
  
  top: 5rem;
  // left: 2rem;

  &-image {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all .1s;
    outline-offset: 2rem;

    &-1 {
      left: 0;
      top: -4rem;
    }

    &-2 {
      right: 0;
      top: 0;
    }

    &-3 {
       left: 6rem;
       top: 6rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      z-index: 20;
      transform: scale(1.05) translateY(-0.5rem);
     box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    }
  }

  // when .composition is hovered, select images that are not hovered
  &:hover &-image:not(:hover) {
    transform: scale(.85);
  }
}