.section-about {
  background-color: $color-grey-light-1;
  padding: 15rem 10rem;
  margin-top: -15vh;
}

.section-features {
  padding: 10rem 5rem;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)) , url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -6rem;
  
  & > * {
    transform: skewY(5deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 20rem 10rem 13rem 10rem;
  margin-top: -6rem;
}